.idea
.vscode
*.code-workspace

tmp
checkpoints
weights
work_dirs
dataset
projects
*.csv
*.zip
*.pyc
.DS_Store

#nms
dist/
build/
__pycache__/
*.egg-info/
*.egg
*.eggs

git filter-branch --force --index-filter 'git rm --cached -r --ignore-unmatch projects/' --prune-empty --tag-name-filter cat -- --all
